
 /* p.error{ 
    color:red
}
p.success{
    color:purple

}
.successerror{
    color:yellowgreen
}
.error.win{
    border: 1px dashed;
}
#content{
    background-color:sandybrown;
    padding: 20px;
   /* }   */
div { 
    color : yellowgreen;
    border:1px dashed gray;
    margin: 40px;
 } 

p{
     border: inherit;
     margin: inherit;
     color:coral;
 }


/* a[href="https://www.google.com/"]{ 
    background-color:skyblue;
    font-weight: bold;
    text-transform: capitalize;
/* } */


/* a[href*="google"]{ 
    background-color:pink;
    font-weight: bold;
    text-transform: lowercase;
}

a[href*="youtube"]{   
    background-color :rgb(15, 15, 13);
    font-weight: bold;
    color:white;
    border :2px dashed blue;
/* } */


